body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #36454f;
  width: 7rem;
  height: 100%;
  margin-left: -4rem;
  margin-top: 0;
  position: fixed;
  transition: 0.5s;
}

nav:hover {
  margin-left: 0;
}

ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: grey;
}
 li {
   padding: 4rem 0;
   width: 100%;
   height: 4rem;
   margin-left: 0;
   display: inline-block;
 }

 a:hover {
   color: #d3d3d3;
   transition: 0.8s;
 }

img {
  padding: 0;
  margin: 0;
  width: 5rem;
}

@-webkit-keyframes spaceboots {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-8deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(8deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(8deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-8deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-8deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(8deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-8deg); }
}
.shake:hover,
.shake:focus {
-webkit-animation-name: spaceboots;
-webkit-animation-duration: 1.5s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}
